@model CadastroUsuarios.Models.UsuarioModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Subtitulo {
    Editar Usuário
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6 ab-3">
            @Html.LabelFor(x => x.Nome, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Nome, new { @class = "form-control", @required = true })
            @Html.ValidationMessageFor(x => x.Nome, string.Empty, new { @class = "text-danger" })
        </div>
        <div class="col-md-6 ab-3">
            @Html.LabelFor(x => x.Sobrenome, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Sobrenome, new { @class = "form-control", @required = true })
            @Html.ValidationMessageFor(x => x.Sobrenome, string.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ab-3">
            @Html.LabelFor(x => x.NomeSocial, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.NomeSocial, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.NomeSocial, string.Empty, new { @class = "text-danger" })
        </div>
        <div class="col-md-6 ab-3">
            @Html.LabelFor(x => x.DataNascimento, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.DataNascimento, new { @class = "form-control", @type = "date", @required = true })
            @Html.ValidationMessageFor(x => x.DataNascimento, string.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 ab-3">
            @Html.LabelFor(x => x.Senha, new { @class = "form-label" })
            @Html.TextBoxFor(x => x.Senha, new { @class = "form-control", @type = "password", @required = true })
            @Html.ValidationMessageFor(x => x.Senha, string.Empty, new { @class = "text-danger" })
        </div>
        <div class="col-md-6 ab-3">
            <div>
                @Html.Label("Situação", new { @class = "form-label" })
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(x => x.Ativo, true, new { @class = "form-check-input", @id = "rbAtivo" })
                @Html.Label("rbAtivo", "Ativo", new { @class = "form-check-label", @for = "rbAtivo" })
            </div>
            <div class="form-check form-check-inline">
                @Html.RadioButtonFor(x => x.Ativo, false, new { @class = "form-check-input", @id = "rbInativo" })
                @Html.Label("rbInativo", "Inativo", new { @class = "form-check-label", @for = "rbInativo" })
            </div>
            @Html.ValidationMessageFor(x => x.Ativo, string.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <section class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
            <a href="@Url.Action("Index", "UsuarioCrud")" class="btn btn-default">Voltar</a>
        </section>
    </div>
}


